@media (max-width: 825px){
    .sub_header_wrapper{
        height: 100%;
    }
    .bottom_header{
        display: none;
    }

    .date{
        display: none;
    }

    .menu-text{
        display: none;
    }
}

@media (max-width: 1080px){
    .link_button{
        display: none;
    }

    .link_button_text{
        display: none;
    }

    .dropdown-search-menu{
        display: none;
    }

    .email{
        display: none;
    }
}