/*import media-query*/
@import url("media-query.css");

* {
    margin: 0;

}

.body{
    overflow-x: hidden
}

/*overlay to obscure the content when opening the dropdown menu*/
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 0.5ms display ease-in-out;
    position: absolute;
}

/*header features*/
.header{
    display: flex;
    position: absolute;
    background-color: #c60800;
    height: 7vw;
    width: 100%;
}

@media (max-width: 772px){
    .header{
        height: 54px;
    }
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sub-header-wrapper{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    height: 75%;
    padding: 1px;
}

.menu-icon{
    display: flex;
    position: absolute;
    left: 20px;
    flex: 1;
    text-align: left;
    align-items: center;
    max-width: 230px;
    margin-right: 2px;
}

/*dropdown menu*/
.dropdown{
    position: relative;
    flex: 0.5;
}

.dropdown-menu{
    overflow-y: auto;
    height: 35vw;
    width: 25vw;
    position: absolute;
    left: 0;
    top: calc(100% + .60rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 5;
}

@media (max-width: 820px){
    .dropdown-menu{
        height: 100vw;
        width: 90vw;
        left: -24px;
    }
}

.dropdown-links{
    font-family: "Arial", serif;
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -.03em;
    line-height: 1.13;
}

.new::before{
    content: "NEW!!";
    color: #c60800;
    display: flex;
}

.menu-button{
    display: block;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-family: "Arial Black", serif;
    transition: 0.5ms background-color ease-in-out;
}

/*css for make visible the dropdown menu*/
.dropdown.active > .menu-button + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
}

/*elements visible in the dropdown menu*/
.line-text{
    display: flex;
    align-content: center;
    background-color: transparent;
    transition: 0.5ms background-color ease-in-out;
}

.menu-line {
    background-color: white;
    display: block;
    align-self: start;
    height: 3px;
    width: 10px;
    padding-right: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}

.menu-text{
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Bahnschrift, serif;
    font-weight: bold;
    font-size: large;
    color: white;
    margin-left: 10px;
    transition: 0.5ms color ease-in-out;
}

/*css that change colors of the button's elements when the class active is added at dropdown*/
.dropdown.active > .menu-button .menu-text,
.dropdown.active > .menu-button,
.menu-button:hover, .menu-button:hover .menu-text {
    background-color: white;
    color: black;
}

.dropdown.active > .menu-button .menu-line,
.menu-button:hover .menu-line{
    background-color: black;
}

/*css for seeing li elements of the dropdown menu only when it is active*/
[data-dropdown] li {
    display: none;
}

[data-dropdown].active li {
    display: block;
}

/*list in the dropdown menu*/
.hn{
    display: grid;
    height: 54em;
}

.header-nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    border-bottom: 1px solid gray;
    background: white;
    color: black;
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-top: 0;
    grid-auto-rows: 50px;
    text-align: left;
    flex: 1;
    width: 90%;
}

.header-nav::before{
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;

}

ul.header-nav li, ul.menu-second-style li{
    background-color: transparent;
    margin: 0;
    padding: 15px;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

ul.header-nav li:hover, ul.menu-second-style li:hover {
    background-color: lightgray;
}

/*css for the search button*/
.search{
    flex: 1;
    background-color: transparent;
    border-color: transparent;
}

.search-icon{
    width: 100%;
    height: 100%;
}

.dropdown-search{
    position: relative;
    display: flex;
    flex: 0.25;
}

.dropdown-search-menu{
    display: flex;
    opacity: 0;
    transform: translateY(-1px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    height: 7vw;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 gray;
    z-index: 2;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/*css for the search bar into the search dropdown menu*/
.search-bar{
    display: flex;
    width: 80%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.search-bar-form{
    display: flex;
    width: 80%;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.8;
    margin-right: 20px;
    border: solid black;
    border-radius: 30px 30px 30px 30px;
}

.search-input-icon{
    display: flex;
    height: 30px;
}

.input-text {
    display: flex;
    flex: 0.9;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.input{
    width: 100%;
    font-size: medium;
    font-family: Bahnschrift, serif;
    font-weight: bold;
    border: none;
}

.submit {
    font-family: Bahnschrift, serif;
    font-weight: bold;
    font-size: large;
    background-color: #c60800;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .2s opacity ease-in-out;
    border-radius: 30px 30px 30px 30px;
    position: relative;
}

.submit:hover {
    opacity: 0.8;
}

/*email icon css*/
.email{
    display: flex;
    flex: 0.25;
    align-self: center;
    background-color: transparent;
    border-color: transparent;
}

.email-link{
    flex: 1;
}

.email-icon{
    width: 100%;
    height: 100%;
}

/*logo css*/
.logo{
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    flex: 1;
    align-self: center;
    text-align: center;
    margin-left: 2px;
}

.logo-link{
    text-decoration-line: none;
}

.logo-text{
    font-family: Impact, serif;
    font-style: italic;
    text-decoration-line: none;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -6px 3px 0 #000, 2px 2px 0 #000;
    font-size: 3em;
}

@media (max-width: 1040px) {
    .logo-text{
        font-size: 2.5em;
    }
}

@media (max-width: 980px) {
    .logo-text{
        font-size: 2.3em;
    }
}

@media (max-width: 750px) {
    .logo-text{
        font-size: 2.1em;
    }
}

@media (max-width: 630px) {
    .logo-text{
        font-size: 2em;
    }
}

@media (max-width: 570px) {
    .logo-text{
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    .logo-text{
        font-size: 1.6em;
    }
}

@media (max-width: 420px) {
    .logo-text{
        font-size: 1.4em;
    }
}

@media (max-width: 390px) {
    .logo-text{
        font-size: 1.2em;
    }
}

@media (max-width: 230px) {
    .logo-text{
        font-size: 1em;
    }
}

@media (max-width: 180px) {
    .logo-text{
        font-size: 0.8em;
    }
}

@media (max-width: 160px) {
    .logo{
        visibility: hidden;
    }
}

@media (max-width: 70px){
    .menu-icon{
        left: 10px;
    }
}

@media (max-width: 55px){
    .menu-icon{
        left: 5px;
    }
}

/*right button css*/
.link-button{
    display: flex;
    position: absolute;
    right: 20px;
    flex: 1;
    align-items: center;
    max-width: 200px;
}

/*right element css*/
.rectangle{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px solid white;
}

.link-button-text{
    display: flex;
    align-self: center;
    font-family: "Arial Black", serif;
    color: white;
    text-decoration-line: none;
    font-size: x-large;
}

/*css for the mini-header in the bottom of the main header*/
.bottom-header{
    display: flex;
    position: absolute;
    top: 75%;
    align-self: flex-end;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 25%;
    width: 100%;
}

.date{
    display: flex;
    color: white;
    font-family: Bahnschrift Semi bold, serif;
    font-size: 15px;
}



@media (max-width: 825px){
    .sub-header-wrapper{
        height: 100%;
    }
    .bottom-header{
        display: none;
    }

    .date{
        display: none;
    }

    .menu-text{
        display: none;
    }
}

@media (max-width: 1080px){
    .link-button{
        visibility: hidden;
    }

    .dropdown-search{
        visibility: hidden;
    }

    .email{
        visibility: hidden;
    }

    .header-nav{
        transform: translateY(80px);
    }

    #menu-second-nav{
        transform: translateY(80px);
    }

    #menu-third-nav{
        transform: translateY(80px);
    }

    .login-container{
        transform: translateY(60px);
    }

    .search-inner{
        display: flex;
    }

}

@media (min-width: 1080px){
    .header-nav{
        transform: translateY(0px);
    }

    #menu-second-nav{
        transform: translateY(-10px);
    }

    #menu-third-nav{
        transform: translateY(-10px);
    }

    .login-container{
        transform: translateY(-10px);
    }
}

@media (max-width: 850px){
    .login-container{
        transform: translateY(38px);
    }
}

@media (max-width: 730px){
    .login-container{
        transform: translateY(30px);
    }
}

@media (max-width: 680px){
    .login-container{
        transform: translateY(30px);
    }
}

@media (max-width: 460px){
    .login-container{
        transform: translateY(27px);
    }
}

@media (max-width: 430px){
    .login-container{
        transform: translateY(37px);
    }
}

@media (max-width: 420px){
    .login-container{
        transform: translateY(28px);
    }
}

@media (max-width: 357px){
    .login-container{
        transform: translateY(28px);
    }
}

/*css for the submenu in the dropdown-menu*/
.dropdown-li{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.sub-menu{
    position: relative;
    border: none;
    background-color: transparent;
}

.arrow {
    display: flex;
    content: "";
    flex:1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

.sub-menu-dropdown{
    display: none;
    background-color: white;
    transform: translateY(-1px);
    transition: display 0.3s ease, transform 0.3s ease;
    position: relative;
}

.sub-menu-ul{
    display: grid;
    background: white;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: black;
    max-height: calc(100vh - 3.125rem - 0px);
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    grid-auto-rows: 40px;
    text-align: left;
    align-items: center;
    flex: 1;
}


/*css for the second part of the header*/
.menu-second-style{
    display: flex;
    position: absolute;
    flex-direction: column;
    border-bottom: 1px solid gray;
    background: white;
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-top: 0;
    grid-auto-rows: 50px;
    text-align: left;
    flex: 1;
    width: 90%;
}

#menu-second-nav{
    margin-top: 365px;
}

#menu-third-nav{
    margin-top: 619px;
}

.second-link{
    font-family: "Arial", serif;
    text-decoration-line: none;
    color: gray;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -.03em;
    line-height: 1.13;
}

/*css login button in dropdown menu*/
.login-container{
    display: flex;
    flex: 1;
    margin-top: 879px;
    padding-bottom: 1.25rem;
    align-items: center;
}

.login-button{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "Arial Black",sans-serif;
    font-weight: 700;
    display: flex;
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    line-height: 1;
    border-color: black;
    margin: 0 auto;
    width: calc(100% - 40px);
    border-radius: 10px 10px 10px 10px;
    height: 55px;
    align-items: center;
    justify-content: space-evenly;
    padding: 26px;
}

.search-inner{
    display: none;
    width: 100%;
    align-items: center;
}

.search-inner-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*LAYOUT CSS*/
.container {
    display: grid;
    width: 90vw;
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    padding-left: 25px;
    padding-top: 2em;
    transform: translateY(60px);
    width: 60%;
}

.first {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(4em, 1fr));
    grid-gap: 1em;
    padding-bottom: 12px;
    border-bottom: 1px solid gray;
}

.sidebar {
    width: 30%;
    float: right;
    transform: translateY(96px);
}


.layout-title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.layout-img{
    height: auto;
    width: 54vw;
}

.layout-title-text{
    color: #c60800;
    font-family: "Arial Black", serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 6vw;
    min-font-size: 70px;
}

.mini-title{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-title-box{
    text-align: center;
    width: 20%;
    background-color: #c60800;
    border: 2px solid white;
}

.mini-title-text{
    font-family: "Arial Black", serif;
    color: white;
    font-size: 1.7vw;
    text-transform: uppercase;
}

.headline{
    color: black;
    font-family: Bahnschrift, serif;
    font-size: 2.4vw;
}

.h-headline{
    text-align: center;
}

.news-text{
    font-family: Bahnschrift, serif;
    color: black;
    font-size: 15px;
}

@media screen and (max-width: 768px) { /* utilizzare le media query per adattare il layout su dispositivi mobili */
    .first {
        grid-template-columns: 1fr; /* rendere i contenuti a colonna su dispositivi mobili */
    }

    .mini-title-box {
        width: 50%; /* aumentare la larghezza della mini-titolo-box su dispositivi mobili */
    }
}


.second{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.layout-grid{
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.item{
    flex: 0.3;
}

.item-1{
    border-right: 1px solid gray;
    padding-right: 20px;
}

.item-3{
    border-left: 1px solid gray;
    padding-left: 20px;
}

.img-item{
    display: flex;
    width: 13vw;
}

.second-text{
    font-family: Bahnschrift, serif;
    color: black;
    font-size: 20px;
    word-wrap: break-word;
}

.ad-right-container{
    display: flex;
    height: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #9e9d9d;
}


.site-widget{
    max-width: 100%;
    display: inline-flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 15px;
    padding: 0.7em;
    justify-content: center;
    align-items: center;
    width: 15em;
}

.site-widget-wrapper{
    align-self: center;
    display: flex;
}

.site-widget-text{
    color: #c60800;
    font-family: Bahnschrift, serif;
    text-align: center;
}

.social{
    display: flex;
    position: relative;
    list-style: none;
}

.social-icon{
    width: 35px;
    height: 35px;
}

.n-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 6px;
    padding: 1em;
    border-bottom: 3px solid;
    border-top: 3px solid;
    color: black;
}

.widget-header {
    margin-bottom: 10px;
}

.widget-img {
    margin-bottom: 10px;
}

.widget-img img {
    max-width: 100%;
    height: auto;
}

.widget-news {
    text-align: justify;
}

.widget-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.ad-container{
    display: grid;
    border-bottom: 1px solid gray;
    padding: 20px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.ad-place{
    background-color: #cbcbcb;
    display: flex;
    width: 56vw;
    height: 7vw;
}

#ad-label{
    text-align: center;
    color: #9e9d9d;
}

.module{
    display: flex;
}

.news-space{
    display: grid;
    padding: 16px;
    border-bottom: 1px solid gray;
}

.news-img{
    width: 38vw;
}

.item .second-text {
    max-width: 100%;
}

@media screen and (min-width: 1080px){
    .site-footer-top{
        display:flex;
    }

    #footer-logo{
        left:-200px;
    }
}



@media screen and (max-width: 1080px){
    .main-content {
        width: 90%;
        float: none;
    }

    .sidebar {
        width: 100%;
        float: none;
        display: none;
    }

    .layout-img{
        width: 87vw;
    }

    .item{
        margin-right: 15px;
    }

    .img-item{
        width: 24vw;
    }

    .headline{
        font-size: 5vw;
    }

    .news-text{
        font-size: 2.5vw;
    }

    .site-footer-main{
        display: none;
    }

    .site-footer-top{
        display: grid;
    }

    .site-footer-wrapper{
        justify-content: center;
    }

    #footer-social{
        left: 0;
    }

    .social{
        left: 0;
    }

    #footer-logo{
        width: 4vw;
        font-size: 40px;
        margin-left: 0;
        left: 96px;
    }

    .social-icon{
        width: 12vw;
        height: 12vw;
    }

}

@media screen and (max-width: 815px){
    .layout-grid{
        display: grid;
    }

    .item-1{
        border:transparent;
        border-bottom: 1px solid gray;
    }

    .item-3{
        border:transparent;
        padding-left: 0;
        border-top: 1px solid gray;
    }

    .item{
        display: flex;
        padding:10px;
    }
}

@media screen and (max-width: 790px){
    .site-footer-top{
        width: 65vw;
    }
}

@media screen and (max-width: 650px){

    .site-footer{
        width: 91vw;
    }

}

@media screen and (min-width: 629px){
    #footer-logo{
        transform: translate(-100%);
    }
}

@media screen and (max-width: 630px){

    .site-footer{
        width: 88vw;
    }

    #footer-logo{
        transform: translate(-60%);
    }

    #footer-social{
        left: 62px;
    }

}

@media screen and (max-width: 570px){
    .site-footer-top{
        width: 56vw;
    }
}

@media screen and (max-width: 540px) {
    .img-item {
        height: 14vw;
    }

}

@media screen and (max-width: 460px){
    .site-footer-top{
        left:16px;
    }

    .ad-container{
        width: 93%;
    }
}

@media screen and (max-width: 440px){
    .headline{
        font-size: 7vw;
    }

    .news-text{
        font-size: 4.5vw;
    }

    .site-footer-top{
        width: 44vw;
    }

    #footer-social{
        left: 34px;
    }
}

@media screen and (max-width: 420px){

    .ad-container{
        width: 90%;
    }
}

@media screen and (max-width: 370px){
    .layout-img{
        width: 80vw;
    }
}


@media screen and (max-width: 300px){
    .img-item{
        width: 21vw;
        height: 13vw;
    }

    .layout-img{
        width: 76vw;
    }

    .headline{
        font-size: 6vw;
    }

    .news-text{
        font-size: 4vw;
    }

    .ad-container{
        width: 94%;
    }

    .second-text{
        font-size: 16px;
    }
}

@media screen and (max-width: 280px){
    .ad.container{
        width: 83%;
    }
}


.site-footer{
    display: grid;
    border-top: 2px solid #c60800;
    top: 89px;
    position: relative;
    max-width: 100vw;
}

.site-footer-wrapper{
    width: 100%;
    display: grid;
    justify-items: inherit;
    position: relative;
}

.site-footer-top{
    max-width: 80%;
    position: relative;
    justify-content: center;
    justify-self: center;
}

.social{
    display: flex;
    position: relative;
    list-style: none;
    padding-left: 0;
    left: 400px;
}

.social-icon{
    width: 4vw;
    height: 4vw;
    min-width: 30px;
    min-height: 30px;
}

#footer-logo{
    width: fit-content;
    margin-left: 0;
    max-width: 160px;
}

.footer-nav{
    display: flex;
}

.footer-menu{
    display: flex;
    list-style: none;
    position: relative;
    padding: 1em;
    text-align: right;
}

.footer-menu li{
    display: grid;
    align-items: center;
    align-content: center;
    margin-left: 40px;
    position: relative;
}

.footer-link{
    font-family: Bahnschrift, serif;
    color: gray;
    text-decoration: none;
    font-size: 2vw;
}

.site-footer-main{
    width: fit-content;
    height: fit-content;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

#list-1{
    column-count: 2;
}

#list-1-title{
    text-align: center;
}

.footer-list-title{
    text-decoration: none;
    color: black;
    font-family: Bahnschrift, serif;
    font-size: 2.4vw;
    position: relative;
}

