* {
    margin: 0;
}

.header{
    display: flex;
    background-color: #c60800;
    height: 7vw;
    width: 100%;
}

.overlay{
    display: none;
    width: 100%;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

@media (max-width: 772px){
    .header{
        height: 54px;
    }
}

.header_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sub_header_wrapper{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 75%;
    width: 90%;
}

.menu-icon{
    display: flex;
}

.dropdown{
    display: flex;
    position: relative;
}

.dropdown_menu{
    display: grid;
    height: 30vw;
    width: 20vw;
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 1;
}

.dropdown-links{
    font-family: "Arial", serif;
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -.03em;
    line-height: 1.13;
}

.menu-button{
    display: block;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-family: "Arial Black", serif;
    transition: 0.5ms background-color ease-in-out;
}

.dropdown.active > .menu-button + .dropdown_menu{
    opacity: 1;
    transform: translateY(0);
}

.line-text{
    display: flex;
    align-content: center;
    background-color: transparent;
    transition: 0.5ms background-color ease-in-out;
}

.menu-line {
    background-color: white;
    display: block;
    align-self: start;
    height: 3px;
    width: 10px;
    padding-right: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}

.menu-text{
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Bahnschrift, serif;
    font-weight: bold;
    font-size: large;
    color: white;
    margin-left: 10px;
    transition: 0.5ms color ease-in-out;
}

.dropdown.active > .menu-button .menu-text,
.dropdown.active > .menu-button,
.menu-button:hover, .menu-button:hover .menu-text {
    background-color: white;
    color: black;
}

.dropdown.active > .menu-button .menu-line,
.menu-button:hover .menu-line{
    background-color: black;
}

[data-dropdown] li {
    display: none;
}

[data-dropdown].active li {
    display: block;
}

.dropdown.active > .overlay{
    display: block;
}

.header-nav{
    display: grid;
    background: white;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    color: black;
    max-height: calc(100vh - 3.125rem - 0px);
    overflow-y: auto;
    padding-bottom: 1.25rem;
    padding-left: 0;
    padding-top: 0;
}

.header-nav li{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

.header-nav li:hover {
    background-color: lightgray;
}

.logo{
    display: flex;
    align-self: center;
    font-family: Impact, serif;
    font-style: italic;
    text-decoration-line: none;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -6px 3px 0 #000, 2px 2px 0 #000;
    font-size: 1.3em;
}

.link_button{
    display: flex;
    align-self: center;
}

.rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 2em;
    background-color: black;
    border: 2px solid white;
}

.link_button_text{
    display: flex;
    align-self: center;
    font-family: "Arial Black", serif;
    color: white;
    text-decoration-line: none;
    font-size: 1em;
}

.bottom_header{
    display: flex;
    align-self: flex-end;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 25%;
    width: 100%;
}

.date{
    display: flex;
    color: white;
    font-family: Bahnschrift Semi bold, serif;
    font-size: 15px;
}

@media (max-width: 825px){
    .sub_header_wrapper{
        height: 100%;
    }
    .bottom_header{
        display: none;
    }

    .date{
        display: none;
    }
}


